{% include 'school/school-header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Add Teacher</title>

    {% block body %} {% endblock body %}
        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Add Teachers</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Teachers</a></li>
                                <li class="breadcrumb-item active">Add Teachers</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                {% if messages %}
                                     {% for message in messages %} <li class="text-danger"> {{message}}</li> {% endfor %}
                                {% endif %}
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}

                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="form-title"><span>Basic Details</span></h5>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Teacher First Name</label> <span class="text-danger">*</span>
                                                    <input type="text" name="first_name" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Teacher Last Name</label> <span class="text-danger">*</span>
                                                    <input type="text" name="last_name" class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Gender</label> <span class="text-danger">*</span>
                                                    <select required name="gender" class="form-control">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Mobile</label> <span class="text-danger">*</span>
                                                    <input type="tel" maxlength="10" minlength="10" name="phone" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Subject</label> <span class="text-danger">*</span>
                                                    <input list="subjects" name="subject" class="form-control" type="text" required>
                                                    <datalist id="subjects">
                                                        {% for x in subject %}
                                                            <option value="{{x.id}}">{{x.name}}/{{x.stream}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Classroom <span class="text-danger">*</span> <span style="font-size: 12px;" class="text-info"> press ctrl while selecting</span></label>
                                                    <select name="classroom" class="form-control select" size="5" id="classes" multiple>
                                                        {% for x in classroom %}
                                                            <option value="{{x.id}}">{{x.standard}}/{{x.section}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h5 class="form-title"><span>Login Details</span></h5>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Email ID</label> <span class="text-danger">*</span>
                                                    <input name="email" type="email" class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label>Teacher Photo</label>
                                                    <input type="file" name="img" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">Create Teacher Profile</button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>


<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static '/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static '/js/script.js' %}"></script>

</html>