{% include 'school/school-header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Teacher Profile</title>

    {% block body %} {% endblock body %}


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Teachers Profile</h3>
                            <!-- <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
                                <li class="breadcrumb-item active">Teachers Details</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info">
                                    <h4>Teacher</h4>
                                    <div class="media mt-3">
                                        <img src="/media/{{teacher.img}}" class="mr-3" alt="...">
                                        <div class="media-body">
                                            <ul>
                                                <li>
                                                    <span class="title-span">Full Name : </span>
                                                    <span class="info-span">{{teacher.full_name}}</span>
                                                </li>
                                                <!-- <li>
                                                    <span class="title-span">Department : </span>
                                                    <span class="info-span">Computer Science</span>
                                                </li> -->
                                                <li>
                                                    <span class="title-span">Mobile : </span>
                                                    <span class="info-span">{{teacher.phone}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Email : </span>
                                                    <span class="info-span"><a href="mailto:{{teacher.user.email}}">{{teacher.user.email}}</a></span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Gender : </span>
                                                    <span class="info-span">{{teacher.gender}}</span>
                                                </li>
                                                <hr>
                                                <li>
                                                    <span class="title-span">Username : </span>
                                                    <span class="info-span">{{teacher.user.username}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Password : </span>
                                                    <span class="info-span">
                                                        <span id="xwv" style="display: none;">{{teacher.psw}} &nbsp;&nbsp; <button onclick="document.getElementById('xwv').style.display = 'none';document.getElementById('xwc').style.display = 'inline';" class="btn btn-secondary">Hide</button></span> 
                                                        <button id="xwc" onclick="document.getElementById('xwc').style.display = 'none';document.getElementById('xwv').style.display = 'inline';" class="btn btn-secondary">Show</button>
                                                </span>
                                                </li>
                                                <hr>
                                            </ul>
                                        </div>
                                    </div>
                             
                                    <div class="row follow-sec">
                                        <div class="col-md-4 mb-3">
                                            <div class="blue-box">
                                                <h3>221</h3>
                                                <p>Students</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="blue-box">
                                                <h3>3</h3>
                                                <p>Classrooms</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="blue-box">
                                                <h3>39</h3>
                                                <p>Quizes</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <h5>Permanent Address</h5>
                                            <p>{{teacher.address}}, {{teacher.zipcode}}, India</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="skill-info">
                                    <h4>About</h4>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <h5>Subject</h5>
                                            <p class="mt-3">{{teacher.subject}}.</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <h5>Classroom</h5>
                                            {% for i in teacher.classroom.all %} <p class="mt-3"> <b>{{i}} : {{i.standard}}/{{i.section}}</b></p>{% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <p>Copyright © 2020 Dreamguys.</p>
            </footer>

        </div>

    </div>


    <script data-cfasync="false" src="{% static '../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static '/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static '/js/script.js' %}"></script>
</body>

<!-- Mirrored from preschool.dreamguystech.com/html-template/teacher-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:50 GMT -->

</html>