{% if schoolNavHeader %}
    {% include 'school/school-header.html' %}
{% else %}
    {% include 'teacher/teacher-header.html' %}
{% endif %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>All Questions</title>

      {% block body %} {% endblock body %}
        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title"> Questions List</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Question</a></li>
                                <li class="breadcrumb-item active">Questions List</li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="row">
                   <div class="col-sm-12">
                      <div class="card card-table">
                         <div class="card-body">
                            <div class="table-responsive">
                               <table class="table table-hover table-center mb-0 datatable">
                                  <thead>
                                     <tr>
                                        <th>Question</th>
                                        <th>Level</th>
                                        <th>Subject</th>
                                        <th>Marks</th>
                                        <th class="text-right">Action</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                      {% for x in questions %}
                                     <tr>
                                        <td>{{x}}</td>
                                        <td>
                                           <h2>
                                              {{x.level}}
                                           </h2>
                                        </td>
                                        <td>{{x.subject}}</td>
                                        <td>{{x.marks}}</td>
                                        <td class="text-right">
                                           <div class="actions">
                                              <a href="/quiz/search-ques?quiz_id={{x.quiz_id}}" class="btn btn-sm bg-success-light mr-2">
                                                 <i class="fas fa-pen"></i>
                                              </a>
                                              <a href="/quiz/profile?quiz_id={{x.quiz_id}}" class="btn btn-sm bg-danger-light">
                                                 <i class="fas fa-info"></i>
                                              </a>
                                           </div>
                                        </td>
                                     </tr>
                                     {% endfor %}
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
        </div>
      </div>

    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static '/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static '/plugins/datatables/datatables.min.js' %}"></script>

    <script src="{% static '/js/script.js' %}"></script>



    
</body>

</html>